/* Estilização do cabeçalho */
.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px; /* Ajusta o espaçamento interno em telas menores */
    max-width: 1097px; /* Define uma largura máxima */
    margin-left: auto;
    margin-right: auto;
}

/* Botões no lado direito */
.app-nav {
    display: flex;
    gap: 20px; /* Reduz o espaçamento em telas menores */
}

/* Estilo dos botões */
.header-button {
    background: none;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 27.84px;
    color: #521D16; /* Ajuste a cor conforme necessário */
    cursor: pointer;
}

.header-button:hover {
    text-decoration: underline;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .app-header {
        flex-direction: column; /* Coloca o cabeçalho em coluna */
        align-items: center;
        padding: 10px 20px; /* Reduz o espaçamento */
    }

    .app-nav {
        flex-direction: column; /* Alinha os botões em coluna */
        gap: 15px; /* Ajusta o espaçamento entre botões */
    }

    .header-button {
        font-size: 20px; /* Reduz o tamanho da fonte */
    }
}

