<div class="detalhes">
  <div class="detalhes-content">
    <div class="card">
      <img ngSrc="./assets/burguer.png" width="317" height="250" />
      <h1>{{ title }}</h1>
      <!-- Alterado para exibir baseDescription como ingredientes -->
      <p>{{ ingredients }}</p>
      <div class="price">
        <h1>{{ price | currency: 'BRL' }}</h1>
      </div>
    </div>
    <div class="descricao">
      <h2>Descrição</h2>
      <!-- Alterado para exibir fullDescription como descrição -->
      <p>{{ description }}</p>
    </div>
  </div>
</div>
